.Game {
    width: 30px;
    height: 30px;
    border: rgb(255, 255, 255);
}
.game
{
    padding-left: 45%;
    margin-top: 200px;
}
.btn
{
    width: 80px;
    height: 80px;
    margin: 2px;
}
.btn-danger{
    width: 80px;
    height: 80px;
    margin: 2px;
}
.startGame{
    color: rgb(251, 251, 251);
    font-size: x-large;
    justify-content: center;
}
.winner
{
    color: rgb(251, 251, 251);
    font-size: large;
}
.row{
    margin-top: 50px;
}