.Manager {
    background-color: white;

}

tr {
    color: white;
    background-color: rgb(49, 46, 46);
}

.button {
    width: 20%;
    height: 50px;
    margin-top: 20px;
    margin-left: 40%;

}

h3 {
    color: white;
    text-align: center;
}

.mySpinner {
    margin-left: 900px;
    height: 100px;
    width: 100px;
    justify-content: center;

}

.tableManager {
    text-align: center;
    width: 70%;
    margin-left: 250px;

}